/* Colors */
:root {
  --dark-brown: #4e3f31;
  --light-orange: #D68C45;
  --light: #f5eee1;
  --dirty-white: #d4cac1;
  --typewriter: 'Special Elite', cursive;
}

/* Fonts
font-family: 'Special Elite', cursive;
font-family: 'Seaweed Script', cursive;
font-family: 'Rammetto One', cursive;
*/


main {
  width: 100vw;
  height: auto;
  background-image: url(https://images.unsplash.com/photo-1528458965990-428de4b1cb0d?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding: 20px 15px 15px;
  display: flex;
  justify-content: center;
  background-color: var(--dark-brown);
}

@keyframes revealText {
  from{ letter-spacing: -8px; color: black }
  to{ letter-spacing: 0px; color: var(--dirty-white) }
}
h1 {
  margin: 0;
  font-family: var(--typewriter);
  color: var(--dirty-white);
  font-size: 3.3rem;
  transition: all 1s;
  animation: revealText 3.5s ease-in-out;
}
h1:hover, h1:active {
  letter-spacing: 0px;
  color: var(--dirty-white);
  cursor: grab;
}

#text-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#textArea {
  margin: 2% 5% 1%;
  display: flex;
  justify-content: space-between;
}

textarea {
  font-family: var(--typewriter);
  font-size: 1.4rem;
  background-color: var(--dirty-white);
  box-shadow: 1px 1px 0 black;
  height: 200px;
  overflow: auto;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

#resultsArea {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.result-container {
  font-size: 1.4rem;
  padding: 10px;
  margin: 0 10px 10px;
  overflow: auto;
  background-color: var(--dirty-white);
  box-shadow: inset 1px 1px 0 black;
}

#btnArea {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 150px;
  background-color: var(--dark-brown);
  border: var(--dark-brown);
  box-shadow: 1px 1px 3px black;
  padding: 11px 20px 7px;
  margin: 10px;
  font-family: var(--typewriter);
  color: var(--dirty-white);
  font-size: 1.3rem;
  outline-color: var(--dirty-white);
  letter-spacing: -3px;
  transition: all .3s;
}
.btn:hover {
  background-color: var(--light-orange);
  color: var(--dark-brown);
  cursor: pointer;
  letter-spacing: 0;
}
.btn:hover:active {
  background-color: var(--dirty-orange);
  color: black;
  box-shadow: inset 1px 1px 0 black;
  letter-spacing: 0;
  outline: none;
}
